{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "assets": "./src/assets",
        "actions": "./src/redux/actions",
        "components": "./src/components",
        "utilities": "./src/utilities",
        "store": "./src/redux/store",
      }
    }],
  ],
}
