@import (css) url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700');

* {
  font-family: 'Quicksand', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
  outline: 0;
  box-sizing: border-box;

  &:hover, &:active, &:focus {
    outline: 0!important;
  }
}

html, body {
  margin: 0;
}

@box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
@subtle-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.06);
@venni-green: #00A9A5;
@venni-blue: #40a9ff;
@medium-grey: #A8A8A8;
@danger-red: #f5222d;
@soft-grey: #f0f2f5;

// common styles **********************************************************************************************
.inline-horizontal {
  display: inline-flex!important;
  align-items: center!important;

  i {
    margin-right: 10%;
  }
}

.image-30 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 25px;
  margin-right: 1em;
  cursor: pointer;
}

.image-150 {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100px;
  margin-bottom: 1em;
  cursor: pointer;
}

.image-250 {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 200px;
  margin-bottom: 1em;
  cursor: pointer;
}

@import (css) url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700');

* {
  font-family: 'Quicksand', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
  outline: 0;
  box-sizing: border-box;

  &:hover, &:active, &:focus {
    outline: 0!important;
  }
}

html, body {
  margin: 0;
}
