@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700');

* {
  font-family: 'Quicksand', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
  outline: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

$box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
$official-green: #00A9A5;
$official-grey: #A8A8A8;
