@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600&display=swap');

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5f3ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.inline-horizontal {
  display: inline-flex !important;
  align-items: center !important;
}
.inline-horizontal i {
  margin-right: 10%;
}

.image-30 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 25px;
  margin-right: 1rem;
  cursor: pointer;
}

.image-150 {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.image-250 {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 200px;
  margin-bottom: 1rem;
  cursor: pointer;
}
