@import '../../assets/variables.less';

.ant-drawer-body,
.ant-collapse-content-box {
  padding: 0 !important;
}

.profile {
  &__user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
  }
}
