@import '../../assets/variables.less';

.friend {
  display: grid;
  grid-template-areas: 'details actions';
  align-items: center;
  background-color: white;
  margin-top: 1em;
  padding: 0 1em;
  width: 100%;
  border-radius: 8px;
  border-bottom: 1px solid @tertiary-color;

  &__intro {
    grid-area: details;
    display: inline-flex;
    align-items: center;
    padding: 0.5em 0;
  }

  &__details {
    width: 100%;
    height: 100%;
    text-align: left;
    padding-left: 2%;

    &__name {
      font-size: 1.2em;
      margin-bottom: 0;
    }

    &__email {
      margin-bottom: 0;
    }
  }

  &__actions {
    grid-area: actions;
    justify-self: flex-end;
  }
}

.friends-list-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .invite-container {
    width: 50%;
    display: flex;
  }
}

@media only screen and (max-width: 768px) {
  .friends-list-container {
    .invite-container {
      width: 80%;
    }
  }
}
