@import '../../assets/variables.less';

.app {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: 'sidebar main';
  background-color: @tertiary-color;
  height: 100vh;
  margin-top: 53px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media only screen and (max-width: 768px) {
  .app {
    grid-template-columns: 100%;
    grid-template-areas: 'main';
  }
}
