@primary-color: #274690;
@secondary-color: #1b264f;
@accent-color: #576ca8;
@tertiary-color: #f5f3f5;
@text-color: #fff;
@danger-red: #f5222d;
@success-green: #39c16c;

.flex-center-both {
  display: flex;
  justify-content: center;
  align-items: center;
}
